{% extends 'base.html' %} {% block title %}Yacon | Página no encontrada{%
endblock %} {% block content %}
<section class="error-404 min-h-screen flex items-center justify-center ">
  <div class="max-w-md mx-auto  p-8 rounded-lg shadow-lg">
    <img
      class="mx-auto mb-4"
      src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/404/404-computer.svg"
      alt="404 No Encontrado"
    />
    <h1 class="text-3xl font-bold text-primary-600 dark:text-primary-500 mb-2">
      404 No Encontrado
    </h1>
    <p class="text-lg text-gray-700 mb-4">
      ¡Vaya! Esa página no existe, ingresa a una url que exista.
    </p>
  </div>
</section>
{% endblock %}
