body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.logo_nav{
  background-color: #fff;
  border-radius: 0.3em;
}
/* sombreado de imagen */
.img-with-shadow {
  filter: drop-shadow(5px 0 10px rgba(248, 248, 248, 0.92)); /* Sombra difusa */
  width: 3.9em;
  height: 2.5em;
}
.gradiente-fondo {
  /* background: linear-gradient(to right, #d0723f, #764BA2, #8A2387); */
  /* background: linear-gradient(135deg, #f08c33, #ffae42, #1a472a); */
  /* background: linear-gradient(135deg, #f08c33, #3b83bd, #00bfa6); */
  /* background: linear-gradient(135deg, #f08c33, #f06292, #8e24aa); */
  background: linear-gradient(to right, #f08c33, #ed9f04, #f12e03);

}
.gradiente-fondo1 {
  /* background: linear-gradient(to right, #d0723f, #764BA2, #8A2387); */
  /* background: linear-gradient(135deg, #f08c33, #ffae42, #1a472a); */
  /* background: linear-gradient(135deg, #f08c33, #3b83bd, #00bfa6); */
  /* background: linear-gradient(135deg, #f08c33, #f06292, #8e24aa); */
  background: linear-gradient(to right, #f12e03, #f08c33, #ed9f04);
  border-radius: 2em;
  padding: 0.4em;
}

.div_carrousel {
  border-radius: 15px; /* Ajusta el radio según tus necesidades */
  padding: 20px; /* Ajusta el padding según tus necesidades */
}
.carousel-text1{
  color: rgb(254, 254, 254);
  font-size: 2em;
  text-shadow: #ed9f04;
}
.indicator-button {
  cursor: pointer;
  transition: opacity 0.3s;
}

.indicator-button:hover {
  opacity: 0.75;
}

/* navbar */
/* Tailwind CSS Personalizado */
.bg-dark-600 {
  background: linear-gradient(to right, #f08c33, #ed9f04, #f12e03); /* Color de fondo personalizado */
  /* al pasar poner flotante el navbar */

}
.bg-dark-700 {
  background: linear-gradient(to right, #f12e03, #ed9f04, #f12e03); /* Color de fondo personalizado */
  border-radius: 0.5em;
  padding: 0.2em;
  transition: background-color 0.3s ease; 
}
.bg-dark-700:hover {
  background-color: #d91ae0; /* Nuevo color de fondo al hacer hover */
}
.bg-dark-800 {
  background: linear-gradient(to right, #f08c33, #ed9f04, #f12e03); /* Color de fondo personalizado */
}
.nav1{
    height: 0.35em;
    background: #f08c33; /* Color de fondo personalizado */
    /* centrar contenido  */
    display: flex;
    justify-content: center;
    align-items: center;
    /* centrar contenido  */

}
/* fijar nav  */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}





nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding: 20px;
}

.flash-messages {
  background-color: #f0f0f0;
  padding: 10px;
  list-style-type: none;
}

footer {
  background: #ed9f04;
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
