<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Yacon Restaurant{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="gradiente-fondo  text-gray-900">
  <nav class="bg-dark-600 text-white shadow p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="{{ url_for('home') }}" class="text-2xl font-bold">Yacon Restaurant</a>
      <div class="space-x-4">
        <a href="{{ url_for('home') }}" class="hover:underline">Home</a>
        <a href="{{ url_for('nosotros') }}" class="hover:underline">Nosotros</a>
        <a href="{{ url_for('carta') }}" class="hover:underline">Carta</a>
        <a href="{{ url_for('promociones') }}" class="hover:underline">Promociones</a>
      </div>
      <div class="space-x-2">
        {% if current_user.is_authenticated %} {% if current_user.is_admin %}
        <a href="{{ url_for('manage_products') }}" class="px-4 py-2 bg-dark-700 hover:bg-dark-800 rounded">Gestionar
          Productos</a>
        <a href="{{ url_for('manage_categories') }}" class="px-4 py-2 bg-dark-700 hover:bg-dark-800 rounded">Gestionar
          Categorías</a>
        {% endif %}
        <a href="{{ url_for('logout') }}" class="px-4 py-2 bg-red-500 hover:bg-red-600 rounded">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 rounded">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% include "shared/header.html" %}
  <div class="container mx-auto mt-10">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="mb-4">
      {% for category, message in messages %}
      <div class="bg-{{ 'green' if category == 'message' else 'red' }}-500 text-white p-2 rounded">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
  </div>
  {% include 'shared/footer.html' %}



</body>

</html>