{% extends 'base.html' %} {% block title %}Registrarse{% endblock %} {% block
content %}
<h1 class="text-3xl font-bold mb-4">Registrarse</h1>
<form method="POST" action="{{ url_for('register') }}">
  <div class="mb-4">
    <label for="username" class="block text-sm font-medium text-gray-700"
      >Nombre de usuario</label
    >
    <input
      type="text"
      name="username"
      id="username"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
    />
  </div>
  <div class="mb-4">
    <label for="password" class="block text-sm font-medium text-gray-700"
      >Contraseña</label
    >
    <input
      type="password"
      name="password"
      id="password"
      class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
    />
  </div>
  <div class="mb-4">
    <button type="submit" class="w-full bg-green-500 text-white p-2 rounded">
      Registrarse
    </button>
  </div>
</form>
{% endblock %}
