<form action="{{ url_for('order_summary') }}" method="POST">
  <div class="space-y-12">
    {% for category, products in products_by_category.items() %}
    <div>
      <h3 class="text-2xl font-bold mb-4 text-white">{{ category }}</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for product in products %}
        <div class="p-4 border rounded-lg bg-gray-50">
          <div class="flex justify-between items-center mb-2">
            <span class="font-semibold">{{ product.name }}</span>
            <span class="line-through text-red-500"
              >${{ product.price * 2 }}</span
            >
            <span class="text-orange-500">${{ product.price }}</span>
          </div>
          <p class="text-sm text-gray-600 mb-2">{{ product.description }}</p>
          <input
            type="checkbox"
            id="product_{{ product.id }}"
            name="products[]"
            value="{{ product.id }}"
            class="mr-2"
          />
          <label for="product_{{ product.id }}" class="cursor-pointer">
            <!-- Agregar input para la cantidad -->
            <input
              type="number"
              id="quantity_{{ product.id }}"
              name="quantities[]"
              value="1"
              min="1"
              max="10"
              class="w-full border-gray-300 rounded-md mt-2"
            />
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  <button
    type="submit"
    class="mt-8 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
  >
    Ver Resumen del Pedido
  </button>
</form>
