<div class="fixed left-4 bottom-4">
  <a
    href="https://api.whatsapp.com/send?phone=56975452897&text='Voy hacer pedido'"
    target="_blank"
    class="text-white hover:text-gray-300"
  >
    <i class="fab fa-whatsapp fa-3x"></i>
  </a>
</div>

<footer class="text-white shadow mt-10 p-4">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <!-- Sección de información del local y horario de atención -->
      <div>
        <h3 class="text-xl font-bold mb-2">Local La Florida</h3>
        <p>Av. La Florida 8511</p>
        <p>
          Teléfono:
          <a href="tel:322111300" class="text-white hover:underline"
            >322 111 300</a
          >
        </p>
        <p>
          Celular:
          <a href="tel:+56975452897" class="text-white hover:underline"
            >+56 975452897</a
          >
        </p>
        <h3 class="text-xl font-bold mt-4 mb-2">Horario de Atención</h3>
        <p>Lunes a Miércoles: de 13:00PM a 17:00PM y de 18:00PM a 22:00PM</p>
        <p>Jueves: de 13:00PM a 17:00PM y de 18:00PM a 22:00PM</p>
        <p>Viernes y Sábado: de 13:00PM a 17:00PM y de 18:00PM a 23:00PM</p>
        <p>Domingos: de 13:00PM a 17:00PM</p>
      </div>

      <!-- Sección de mapa de cómo llegar -->
      <div>
        <h3 class="text-xl font-bold mb-2">Cómo llegar</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53214.47512648845!2d-70.61718977027563!3d-33.5298634296702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d1b9aa752867%3A0xba2df9530742cd59!2sYACON%20SUSHI%20NIKKEI!5e0!3m2!1sen!2sus!4v1720239131352!5m2!1sen!2sus"
          width="100%"
          height="250"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>

      <!-- Sección de redes sociales -->
      <div>
        <h3 class="text-xl font-bold mb-2">Redes Sociales</h3>
        <div class="space-x-4">
          <a
            href="https://www.facebook.com/profile.php?id=61559189617150"
            target="_blank"
            class="text-white hover:underline"
          >
            <i class="fab fa-facebook-f fa-2x"></i>
          </a>
          <a
            href="https://www.instagram.com/yaconsushi/"
            target="_blank"
            class="text-white hover:underline"
          >
            <i class="fab fa-instagram fa-2x"></i>
          </a>
          <a
            href="https://api.whatsapp.com/send?phone=56975452897"
            target="_blank"
            class="text-white hover:underline"
          >
            <i class="fab fa-whatsapp fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="bg-dark-600 m-4 text-center text-white py-4">
  <p>&copy; 2024 Yacon Restaurant. Todos los derechos reservados.</p>
</div>

<!-- Incluye FontAwesome para los iconos -->
<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>
