<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<nav class="nav1 bg-dark-600 text-white shadow p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Sección de redes sociales izquierda -->
    <div class="flex space-x-4">
      <a href="tel:+1234567890" target="_blank" rel="noopener noreferrer" class="text-white">
        <i class="fas fa-phone-alt"></i>
      </a>
      <a href="https://wa.me/1234567890" target="_blank" rel="noopener noreferrer" class="text-white">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>

    <!-- Sección de redes sociales derecha -->
    <div class="flex space-x-4">
      <a href="http://facebook.com" target="_blank" rel="noopener noreferrer" class="text-white">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="http://instagram.com" target="_blank" rel="noopener noreferrer" class="text-white">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
</nav>



<nav id="mainNav" class="bg-dark-600 text-white shadow p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="{{ url_for('home') }}" class="text-2xl font-bold">Yacon Restaurant</a>
    <div class="hidden md:flex space-x-4">
      <a href="{{ url_for('home') }}" class="nav-link">Home</a>
      <a href="{{ url_for('nosotros') }}" class="nav-link">Nosotros</a>
      <a href="{{ url_for('carta') }}" class="nav-link">Carta</a>
      <a href="{{ url_for('promociones') }}" class="nav-link">Promociones</a>
    </div>
    <div class="hidden md:flex space-x-2">
      {% if current_user.is_authenticated %} {% if current_user.is_admin %}
      <a href="{{ url_for('manage_products') }}" class="nav-link">Gestionar Productos</a>
      <a href="{{ url_for('manage_categories') }}" class="nav-link">Gestionar Categorías</a>
      {% endif %}
      <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
      {% else %}
      <a href="{{ url_for('login') }}" class="nav-link">Login</a>
      {% endif %}
    </div>
    <div class="md:hidden">
      <button id="menuButton" class="text-white focus:outline-none">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>
  <div id="mobileMenu" class="hidden md:hidden">
    <a href="{{ url_for('home') }}" class="nav-link block">Home</a>
    <a href="{{ url_for('nosotros') }}" class="nav-link block">Nosotros</a>
    <a href="{{ url_for('carta') }}" class="nav-link block">Carta</a>
    <a href="{{ url_for('promociones') }}" class="nav-link block">Promociones</a>
    {% if current_user.is_authenticated %} {% if current_user.is_admin %}
    <a href="{{ url_for('manage_products') }}" class="nav-link block">Gestionar Productos</a>
    <a href="{{ url_for('manage_categories') }}" class="nav-link block">Gestionar Categorías</a>
    {% endif %}
    <a href="{{ url_for('logout') }}" class="nav-link block">Logout</a>
    {% else %}
    <a href="{{ url_for('login') }}" class="nav-link block">Login</a>
    {% endif %}
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const navLinks = document.querySelectorAll('.nav-link');
    const currentUrl = window.location.href;

    navLinks.forEach(link => {
      // Agregar clase activa al enlace correspondiente a la página actual
      if (link.href === currentUrl) {
        link.classList.add('bg-dark-700');
      }

      // Evento al pasar el cursor sobre un enlace
      link.addEventListener('mouseenter', function () {
        if (!this.classList.contains('bg-dark-700')) {
          this.classList.add('hover:bg-dark-700');
        }
      });

      // Evento al quitar el cursor de un enlace
      link.addEventListener('mouseleave', function () {
        if (!this.classList.contains('bg-dark-700')) {
          this.classList.remove('hover:bg-dark-700');
        }
      });

      // Evento al hacer clic en un enlace
      link.addEventListener('click', function () {
        navLinks.forEach(link => {
          link.classList.remove('bg-dark-700');
          link.classList.remove('hover:bg-dark-700');
        });
        this.classList.add('bg-dark-700');
      });
    });

    // Evento del botón de menú móvil
    document.getElementById('menuButton').addEventListener('click', function () {
      const menu = document.getElementById('mobileMenu');
      menu.classList.toggle('hidden');
    });
  });

  // fijar menu
  document.addEventListener('DOMContentLoaded', function () {
    const mainNav = document.getElementById('mainNav');
    let isNavFixed = false;

    window.addEventListener('scroll', function () {
      if (window.scrollY > mainNav.offsetTop && !isNavFixed) {
        mainNav.classList.add('fixed-nav');
        isNavFixed = true;
      } else if (window.scrollY <= mainNav.offsetTop && isNavFixed) {
        mainNav.classList.remove('fixed-nav');
        isNavFixed = false;
      }
    });
  });
</script>